/* General */
body{
  background-color:black;
  overflow-x:hidden;
  padding:0;
  margin:0;
}
.bg{
  transform:translateX(-50%);
  top:calc(621px - 50vh);
  position:absolute;
  min-width:100vw;
  left:50%;
}
@media only screen and (max-width:700px){
  .bg{
    display:none;
  }
}

/* TV */
.tv{
  background:url("res/tv.jpg");
  transform:translateX(-50%);
  position:relative;
  margin-top:35px;
  padding:25px;
  color:white;
  width:600px;
  left:50%;
}
.screen{
  background-color:blue;
  height:400px;
  width:100%;
}
@media only screen and (max-width:700px){
  .tv{
    width:calc(100vw - 50px);
    margin-top:0;
  }
  .screen{
    height:calc(66vw - 66px);
  }
}

/* Search bar */
.search{
  background-color:blue;
  border-radius:20px;
  position:relative;
  margin:15px 0;
}
.search input[type=text]{
  border-radius:20px 0 0 20px;
  width:calc(100% - 80px);
  background-color:white;
  padding:5px 20px;
  font-size:30px;
  border:none;
}
.search .search-icon{
  background-color:white;
  display:inline-block;
  border-radius:15px;
  position:relative;
  height:30px;
  width:30px;
  top:5px;
}

/* Buttons */
.buttons{
  grid-template-columns:33% 34% 33%;
  text-align:center;
  position:relative;
  font-size:18px;
  display:grid;
}
.buttons .button{
  background-size:cover;
  background-position:center;
  background:url("res/button.jpg");
  transform:translateX(-50%);
  border-radius:15px;
  margin-bottom:10px;
  position:relative;
  height:26px;
  width:26px;
  left:50%;
}

/* VHS list */
.vhs-list{
  transform:translateX(-50%);
  margin-bottom:25px;
  position:relative;
  width:650px;
  left:50%;
}
.vhs{
  border-bottom:solid 2px black;
  background-color:red;
  text-align:center;
  padding:15px 0;
  font-size:25px;
}
@media only screen and (max-width:700px){
  .vhs-list{
    margin-bottom:0;
    width:100vw;
  }
}
