/* General */
:root{
  --videoControl:#474747;
  --regularGrey:#C4C4C4;
  --darkPurple:#632F8F;
  --weirdBlue:#2A9DCD;
  --lightGrey:#E5E5E5;
  --neutral:#474747;
  --purple:#A98DC5;
  --orange:#EE9E64;
  --white:#FFFFFF;
}
body{
  background-color:var(--neutral);
  color:var(--lightGrey);
  overflow-y:hidden;
  padding:0;
  margin:0;
}
hr{
  border:solid 1px var(--white);
  margin:25px 0;
  height:0;
}
.content{
  grid-template-columns:50% 50%;
  display:grid;
}
.content > div{
  position:relative;
}
@font-face{
  src:url("./res/Rubik-MediumItalic.ttf");
  font-family:"Rubik";
  font-style:italic;
}
@font-face{
  src:url("./res/Lato-Italic.ttf");
  font-family:"Lato";
  font-style:italic;
}

/* Header */
.header{
  position:relative;
  padding:25px 0 0 50px;
  line-height:42.66px;
  color:var(--white);
  font-family:"Rubik";
  font-style:italic;
  font-size:36px;
}
.header span{
  margin-left:20px;
}
.header img{
  height:40px;
}

/* Preview */
.preview-wrapper{
  height:calc(100vh - 50px);
}
.preview{
  transform:translate(-50%,-50%);
  position:absolute;
  width:80%;
  left:50%;
  top:50%;
}

/* Scroll */
.scroll{
  text-align:right;
  padding:0 8%;
}
.scroll h1{
  color:var(--regularGrey);
  font-family:"Rubik";
  line-height:78.84px;
  font-style:italic;
  font-size:40px;
  font-size:64px;
  margin:5px 0;
}
.scroll h2{
  color:var(--lightGrey);
  font-family:"Rubik";
  line-height:42.66px;
  font-style:italic;
  font-size:36px;
  margin:5px 0;
}
.scroll p{
  color:var(--lightGrey);
  font-family:"Lato";
  line-height:22.8px;
  font-style:italic;
  font-size:19px;
  margin:5px 0;
}

/* Tags */
.tags{
  margin-top:25px;
}
.tags span{
  display:inline-block;
  font-family:"Rubik";
  border-radius:10px;
  color:var(--white);
  text-align:center;
  font-size:15px;
  height:20px;
  width:90px;
}
